<div class="container mt-5">
    <div class="row text-center justify-content-center" id="subscription-form">
        <div class="col-8">
            <h1>Subscription Form</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, nesciunt.</p>

            <div>
                <label for="exampleFormControlInput1" class="form-label">Your Name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Name">
                <label for="exampleFormControlInput1" class="form-label mt-4">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">

                <button class="btn btn-block my-3" id="subscribe-button">Subscribe</button>
            </div>
        </div>
    </div>
</div>