<div class="container-fluid">
    <div class="row m-auto justify-content-center mt-4">
        <div class="col-md-11">
            <section class="category-section">
                <h1>general Knowladge</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro non vitae fugiat voluptatibus,
                    voluptates
                    vero!</p>
            </section>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-5 justify-content-center justify-content-around me-auto">
        <div class="col-md-4 mt-5">
            <app-post-card></app-post-card>
        </div>

        <div class="col-md-4 mt-5">
            <app-post-card></app-post-card>
        </div>

        <div class="col-md-4 mt-5">
            <app-post-card></app-post-card>
        </div>

        <div class="col-md-4 mt-5">
            <app-post-card></app-post-card>
        </div>

        <div class="col-md-4 mt-5">
            <app-post-card></app-post-card>
        </div>

        <div class="col-md-4 mt-5">
            <app-post-card></app-post-card>
        </div>
    </div>
</div>