<div class="shadow-effect" style="margin-top: 80px; padding: 20px; border-radius: 3px;  ">
    <h1>Leave a Comment</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, reiciendis.</p>

    <form class="mt-4">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Leave a Comment</label>
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                style="height: 100px"></textarea>
        </div>
        <button type="submit" id="subscribe-button" class="btn btn-primary">Submit</button>
    </form>
</div>