<div class="my-3">

    <div class="comment-list">
        <div class="card-body">
            <h4 class="my-3">John Doe</h4>
            <small class="text-danger mb-4">Last Updated- 25-7-2022</small>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, iusto architecto corrupti eveniet
                sequi esse saepe explicabo repudiandae. Dolorum atque eveniet reiciendis enim esse quasi at laborum
                labore porro quos?</p>

            <div>
                <a href="#" class="link-text"  >Reply</a>
                <a href="#" class=" link-text mx-3">View Reply</a>
            </div>
        </div>
    </div>
</div>