<section class="featured-section">
    <div class="container">
        <div class="row text-center justify-content-center mt-2">
            <div class="col-md-10">
                <h1 style="color: white;" >Featured posts</h1>
                <p style="color: white;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius, odio porro. Fugiat non sequi ullam!
                </p>
            </div>
        </div>

        <div class="row text-center ml-0">
            <div class="col-md-3">
                <app-post-card></app-post-card>
            </div>

            <div class="col-md-3">
                <app-post-card></app-post-card>
            </div>

            <div class="col-md-3">
                <app-post-card></app-post-card>
            </div>

            <div class="col-md-3">
                <app-post-card></app-post-card>
            </div>
        </div>
    </div>
</section>

<section class="container mt-5">
    <div class="row col-md-12 text-center">
        <h2>latest posts</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste nisi magnam quam corrupti unde accusamus.</p>
    </div>

    <div class="row m-auto">
        <div class="col-md-4 mt-5">
            <app-post-card></app-post-card>
        </div>

        <div class="col-md-4 mt-5">
            <app-post-card></app-post-card>
        </div>

        <div class="col-md-4 mt-5">
            <app-post-card></app-post-card>
        </div>

        <div class="col-md-4 mt-5">
            <app-post-card></app-post-card>
        </div>

        <div class="col-md-4 mt-5">
            <app-post-card></app-post-card>
        </div>

        <div class="col-md-4 mt-5">
            <app-post-card></app-post-card>
        </div>
    </div>
</section>