<section class="mt-5" >
    <div class="container bg-primary-theme">
        <div class="row">
            <h1 class="my-4 text-center">About Us</h1>
            <div class="row text-center justify-content-center m-auto">
                <div class="col-md-11 bg-secondary-theme text-theme-primary">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ea maxime suscipit
                        exercitationem
                        sed? At nisi saepe, a incidunt quod earum aspernatur sed! Officiis consequuntur vitae quae
                        architecto!
                        Harum voluptatibus omnis porro, rem laboriosam laudantium similique quod, nemo, sed asperiores
                        dignissimos quasi eveniet aut nam eum architecto consequuntur libero quibusdam. Eveniet nostrum
                        eaque
                        perferendis sit asperiores voluptate modi quo, iste ut dolores aut? Voluptatem quo deleniti
                        obcaecati
                        exercitationem quod necessitatibus magni labore fuga eum voluptate sint eligendi ut earum quam
                        velit
                        rerum voluptatibus dolor pariatur, voluptates repellat aut fugiat quasi soluta ex? Culpa
                        voluptates
                        quis
                        ex assumenda <br>nemo quaerat doloribus laudantium consequuntur reiciendis provident tempora hic
                        beatae
                        ullam pariatur necessitatibus modi deserunt, in autem repellendus. Sed sit, asperiores ipsa
                        nesciunt,
                        suscipit fugit placeat nam assumenda alias quae, at atque? Rerum in obcaecati fugiat. Quas,
                        reprehenderit possimus velit alias, quos inventore voluptatem adipisci recusandae cupiditate
                        architecto
                        deleniti? Optio, voluptate saepe perspiciatis quisquam nemo commodi, recusandae accusamus rerum
                        enim
                        obcaecati laudantium ex officia. Excepturi ad facilis perspiciatis consectetur commodi error
                        illo
                        consequuntur voluptas, necessitatibus facilis rerum beatae expedita laudantium officiis <br>aut
                        repudiandae enim adipisci ipsam nesciunt consectetur porro iure aperiam et rem voluptates dolore
                        molestias? Numquam architecto libero alias quidem culpa unde repellat dolorum velit rerum
                        aperiam
                        necessitatibus nostrum quae dolor quisquam reprehenderit, dolorem sit! Ad repellat doloribus,
                        rem
                        perspiciatis nulla magni, expedita eos quo vitae earum, doloremque eligendi. Libero voluptatibus
                        quibusdam pariatur aperiam incidunt quae quos sint neque officiis, praesentium quia expedita
                        ipsum
                        eaque
                        omnis obcaecati quasi numquam? Porro, accusamus non nostrum amet optio sapiente pariatur eius
                        quis
                        ea
                        fugit quod eaque animi eum corporis! Id alias non eos cum deserunt consequatur exercitationem
                        harum
                        laboriosam, pariatur deleniti quod nulla quas quisquam, ratione officia quia vel sed libero
                        impedit
                        veniam, fuga cumque recusandae voluptatem? Maiores omnis excepturi repellendus, quisquam iusto
                        temporibus eveniet laudantium ab quaerat porro, perferendis quasi, reprehenderit deleniti nemo
                        dolore!
                        Nemo repudiandae exercitationem voluptatum provident dicta veritatis iure consequuntur dolores
                        cumque
                        facere, excepturi temporibus illo! </p>

                        <a routerLink=""> <button class="btn my-4" id="subscribe-button" >Go to home</button></a>
                </div>
            </div>
        </div>
    </div>
</section>