<div class="container">
    <div class="row justify-content-between my-4">
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <img src="https://i.pinimg.com/236x/ad/6e/bf/ad6ebf7d69be03e39036b26eedd4d5f6.jpg"
                    class="img-fluid rounded" alt="">
            </div>

            <div class="my-4">
                <small class="bg-light text-danger text-center mr-2">Design</small>
                <small class="bg-light text-danger text-center mx-2">Featured</small>
                <small class="bg-light text-danger text-center mx-2">views-10,500</small>
                <small class="bg-light text-danger text-center mx-2">Last Updated- sep,20,2022</small>
            </div>

            <h1>How to start a blog in 2023 edited blog</h1>
            <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam numquam libero veritatis
                quia dicta consequatur aliquid nulla ex. Voluptatum magni, dolore tempore hic debitis sit ipsam.
                Asperiores ipsum ut consequatur amet impedit culpa ipsam quod quae totam. Aliquam ea, qui ipsa voluptas
                eaque atque quam nesciunt quasi nihil, ipsum voluptatum?Lorem ipsum dolor sit, amet consectetur
                adipisicing elit. Earum veritatis libero reiciendis, alias porro voluptatum vitae aliquam distinctio
                iste officia nihil praesentium voluptatibus debitis non consectetur amet beatae magnam. Omnis alias eum
                nisi iusto dolores illo, voluptas dolorem ipsam aperiam?</p>

                <app-comment-form></app-comment-form>

                <div class="mt-5 shadow-effect ">
                    <h1 class="m-4" >Coments-21</h1>
                <app-comment-list></app-comment-list>
                <app-comment-list></app-comment-list>
                <app-comment-list></app-comment-list>

            </div>


        </div>


        <div class="col-md-4 my-2">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>