/* You can add global styles to this file, and also import other style files */

@import "~node_modules/bootstrap/dist/css/bootstrap.min.css";



@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous');

@import url('https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous');

@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous');

@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous');


/* Global colors */
:root {
    --primary-color: #793079;
    --secondary-color: #d6eaf2;
    --body-text-color: #000000;
    --navbar-footer-color: #F9F9F9;
}


body {

    font-size: 14px;
    color: var(--body-text-color);
}


/*NAVBAR*/
nav ul li a{
    color:var(--primary-color);
}
nav ul{
    margin: auto;
}


/*APP BODY*/
.app-body{
   color: var(--primary-color);
   min-height: 60vh;
}


/*SUBSCRIPTION FORM*/
#subscription-form{
    background-color: var(--secondary-color);
    padding: 20px;
}
#subscribe-button{
    background-color: var(--primary-color);
    color: white;
    width: 140px;
}

.shadow-effect{
    border: none;
    box-shadow: 0 0 33px -10px rgba(71, 114, 254, 0.3);
}

.link-text{
    font-size: 15px;
    text-decoration: none;
}

.bg-secondary-theme{
    background-color: var(--secondary-color);
    padding: 20px;
}

.text-theme-primary{
    color: var(--primary-color);
}

.bg-primary-theme{
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 50px;
}