<div class="card m-auto mb-4" style="width: 16rem;">
    <img src="https://i.pinimg.com/236x/13/0e/8f/130e8f47d678c6c800c83d08fd33d15a.jpg" height="200px"
        class="card-img-top" alt="...">
    <div class="card-body">
        <div>
            <small class="card-title mx-2">Card title</small>
            <small class="card-title mx-2">Card title</small>
            <small class="card-title mx-2">Card title</small>
        </div>

        <h3>title</h3>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>

        <h6 class="mt-2">last updated</h6>
    </div>
</div>